# ORCA Backend Environment Variables

PORT=4000

# LLM API Key (Groq Free Tier)
GROQ_API_KEY=sk_Xiz684tqF3GzLNZ07Om4WGdyb3FYLxv1CfAjzAvnOFmsyZb6n4Vx

# Multilingual API Key (Bhashini API)
BHASHINI_API_KEY=c5NYecc27Rtga5AZ_n4y@kQF_k-gBGsZVSSSS-QKvX30XRvtJ-aS8igDGtO4B76q
